<!DOCTYPE html>
<html>
<head>
    <title>Cybersecurity Toolkit</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>

<h1>Cybersecurity Toolkit</h1>
<h3>Select a Tool</h3>

<div class="card-container">

    <a href="/password" class="card">
        Password Strength Checker
    </a>

    <a href="/cipher" class="card">
        Caesar Cipher Tool
    </a>

    <a href="/image" class="card">
        Image Encryption Tool
    </a>

    <a href="/keylogger" class="card">
        Keylogger Demo
    </a>

</div>

</body>
</html>
