<!DOCTYPE html>
<html>
<head>
    <title>Password Checker</title>
   <link rel="stylesheet" href="style.css">
</head>

<body>

<h1>🔑 Password Strength Checker</h1>

<form method="POST">
    <input type="text" name="password" placeholder="Enter password" required>
    <button type="submit">Check</button>
</form>

{% if result %}
    <div class="result-box">
        <h3>Result: {{ result }}</h3>
        <p>Estimated Crack Time: {{ crack_time }}</p>

        {% if feedback %}
            <h4>Suggestions:</h4>
            <ul>
                {% for item in feedback %}
                    <li>{{ item }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endif %}

<br>
<a href="/">⬅ Back to Dashboard</a>

</body>
</html>
